<h1>All Customers ordered by full name</h1>
<section>
  <%= render @customers %>
</section>
<nav>
  <ul>
    <li><%= link_to 'All customers', root_path %></li>
    <li><%= link_to 'Customers with missing email', customers_missing_email_path %></li>
  </ul>
</nav>