<h1>All Customers missing email address</h1>
<section>
  <%= render @customers %>
</section>
<nav>
  <%= link_to 'all customers', root_path %>
  <%= link_to 'all customers alphateized', customers_alphabetized_path %>
</nav>